.relatorioBlocoGeral
{
    width: 100%;
    height: auto;
}

.buscaPersonalizada
{
    width: 100%;
    height: 100px;
}

.relatorioBlocoGeral .seletor
{
    width: 100%;
    height: 150px;
}

.relatorioBlocoGeral .retornoInfoRelatorio
{
    width: 100%;
    height: auto;
}

.retornoInfoRelatorio .retornoInfoResumo
{
    width: 100%;
    height: 120px;
    display: flex;
}

.retornoInfoResumo .sessaoValor
{
    width: 15%;
    height: 100px;
    display: flex;
    align-items: center;
    margin: 1%;
}

.sessaoValor .icone
{
    width: 70px;
    height: 70px;
    margin-right: 5px;
}

.iconeCartao
{
    background-image: url(../../../Imagem/cartao.png);
}

.iconeDinheiro
{
    background-image: url(../../../Imagem/dinheiro.png);
}

.iconePix
{
    background-image: url(../../../Imagem/pix.png);
}

.retornoInfoRelatorio .retornoInfoResumoValor
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

.retornoInfoResumoValor .sessaoValor
{
    width: 45%;
    height: 100px;
    display: flex;
    margin: 1%;
}

.retornoInfoRelatorio .retornoInfoResumotabela
{
    width: 100%;
    height: auto;
}

.retornoInfoResumotabela .seletorrelatorio
{
    width: 100%;
    height: 50px;
}


.retornoInfoResumotabela .retornoInfotabela
{
    width: 100%;
    height: auto;
}